PRIVATE_KEY=""
RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=
RPC_WEBSOCKET_ENDPOINT=wss://mainnet.helius-rpc.com/?api-key=

SWAP_AMOUNT=0.001             
DISTRIBUTION_WALLETNUM=20       

JITO_FEE=0.001

TOKEN_NAME="Shadow Dance"
TOKEN_SYMBOL="SD"
DESCRIPTION='SD is super shadow dance'
TOKEN_SHOW_NAME="lomy"
TOKEN_CREATE_ON="https://pump.fun"
TWITTER="https://x.com/"
TELEGRAM="https://t.me"
WEBSITE="https://website.com"
FILE="./image/2.jpg"
BUYER_WALLET=""
BUYER_AMOUNT=0

LIL_JIT_ENDPOINT=

# 1: JITO MODE, 2: BLOXROUTE MODE
MODE=1
BLOXROUTE_AUTH_TOKEN=
